<section class="section brands py-5">
  <div class="container">
    <div class="row">
      {{ with .content.title }}
        <div class="col-12">
          <h3 class="fs-5 fw-semibold text-primary text-center pb-4">{{ . }}</h3>
        </div>
      {{ end }}
    </div>
    <div class="row align-items-center justify-content-center">
      <div class="col px-5 my-2 text-center">
        <img src="https://www.anycommerce.io/hubfs/NEW%20logo%20Anycommerce%202023.svg" alt="">
      </div>
      <div class="col px-5 my-2 text-center">
        <img src="https://upload.wikimedia.org/wikipedia/commons/f/fd/Socios.com_logo.svg" alt="">
      </div>
    </div>
  </div>
</section>
