<section class="section services py-5">
  <div class="container">
    <div class="row justify-content-center pb-5">
      <div class="col-12 col-xl-6">
        {{ with .content.title }}
          <h3 class="fs-1 fw-bold text-center text-primary pb-3">{{ . }}</h3>
        {{ end }}
        {{ with .content.text }}
          <p class="text-black-61 text-center pb-3">Mon approche ? Une immersion totale dans votre écosystème et vos enjeux. En dialogue constant avec vous et vos équipes, j'élabore pas à pas la solution adaptée. <br>
            Cela passe notamment par la création d'API intelligentes, capables de dialoguer avec vos différents systèmes pour automatiser les tâches chronophages.</p>
        {{ end }}
      </div>
    </div>
    <div class="row g-5">
      <div class="col-12 col-xl-4">
        <div class="card bg-blue-16 border-0 border-radius-34 p-4">
          <div class="card-body text-center">
            <h4 class="card-title text-center text-primary pb-4">Offre découverte : <br><strong>Objectif automatisation</strong></h4>
            <table class="table">
              <tr>
                  <td>
                      (Call 2h) Call de cadrage - Étudier votre contexte, vos priorités et vos attentes en termes d'automatisation. Nous définissons ensemble le périmètre sur lequel intervenir.
                  </td>
              </tr>
              <tr>
                  <td>
                      Cartographie de vos flux de données et identification des opportunités d'automatisation.
                  </td>
              </tr>
          </table>
          </div>
          <div class="card-footer text-center">
            430€ HT
          </div>
        </div>
      </div>

      <div class="col-12 col-xl-4">
        <div class="card bg-blue-16 border-0 border-radius-34 p-4">
          <div class="card-body text-center">
            <h4 class="card-title text-center text-primary pb-4">Offre pilote : <br><strong>Automatisation quick wins</strong></h4>
            <table class="table">
              <tr>
                  <td>
                    "Offre découverte" +
                  </td>
              </tr>
              <tr>
                <td>
                   3 process à automatiser en priorité, parmi les quick wins identifiés lors de l'audit.
                </td>
            </tr>
          <tr>
            <td>
              Mise en place SAAS workflow (n8n,zapier,make.com, IFTTT, mercure.rocks), paramétrage des I/O.
            </td>
        </tr>
        <tr>
          <td>
            Suivi sur 2 mois pour évaluer les gains réels, collecter les feedbacks et optimiser les workflows si besoin.
          </td>
      </tr>
          </table>
          <div class="card-footer text-center">
            à partir de 6300€ HT
          </div>
          </div>
        </div>
      </div>

      <div class="col-12 col-xl-4">
        <div class="card bg-blue-16 border-0 border-radius-34 p-4">
          <div class="card-body text-center">
            <h4 class="card-title text-center text-primary pb-4">Offre premium : <strong>Automatisation et intégration globale</strong></h4>
            <table class="table">
              <tr>
                  <td>
                    "Offre découverte" +
                  </td>
              </tr>
              <tr>
                <td>
                   5 process à automatiser en priorité, parmi les quick wins identifiés lors de l'audit.
                </td>
            </tr>
            <td>
              Mise en place SAAS workflow (n8n,zapier,make.com, IFTTT, mercure.rocks), paramétrage des I/O.
            </td>
            <tr>
              <td>
                Prototypage des workflows d'automatisation et intégration avec les outils existants
              </td>
          </tr>
          <tr>
            <td>
              Déploiement des automatisations en production et formation des utilisateurs
            </td>
        </tr>
        <tr>
          <td>
            Suivi sur 6 mois pour évaluer les gains réels, collecter les feedbacks et optimiser les workflows si besoin.
          </td>
      </tr>
          </table>
            <div class="card-footer text-center">
              à partir de 6900 € HT
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>